.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  gap: 16px;
}

.footer a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
  color: #ffcc00;
}