.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container div {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.container a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.container a:hover {
  text-decoration: none;
  color: #ffcc00;
}