.footer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
}

.footer div {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
  color: #ffcc00;
}